{% extends "::base.html.twig" %}

{% block title %}AppBundle:AlbumListController:CreateAlbum{% endblock %}

{% block body %}
<h1>Welcome to the AlbumListController:CreateAlbum page</h1>
{% endblock %}
